a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  text-decoration: none;
  color: white;
  padding: 0;
  margin: 0;
}

.header_nav {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100vw;
  z-index: 10;
  margin-top: 1rem;
}

.header_nav_ul {
  display: flex;
  position: absolute;
  right: 3.5rem;
}

.header_nav_ul li {
  font-size: 1rem;
  padding: 0.5rem;
}

.header_nav_il.logo {
  font-size: 2.2rem;
  margin-left: 2.5rem;
}

.header__nav_toggleBtn {
  position: absolute;
  right: 2.5rem;
  display: none;
  margin-top: 1rem;
}
.header__nav_toggleBtn:hover {
  cursor: pointer;
}

.header__nav_toggleBtn > i {
  font-size: 24px;
  color: white;
}

.header_nav.dark {
  position: relative;
}

.header_nav.dark li {
  color: black;
}

@media screen and (max-width: 768px) {
  .header_nav {
    flex-direction: column;
    align-items: flex-start;
    background-color: black;
    margin-top: 0rem;
  }
  .header_nav_ul {
    position: relative;
    width: 100vw;
    display: none;
    flex-direction: column;
    align-items: center;
    right: 0rem;
  }

  .header_nav_ul.view {
    display: flex;
  }

  .header__nav_toggleBtn {
    display: block;
    position: absolute;
  }
}
